/***************************************************              GENERAL RESET STYLES             ***************************************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input,
textarea,
select {
  vertical-align: middle;
  color: #000;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #000;
}

input:focus::-webkit-input-placeholder {
  color: #000;
}

#wrapper {
  display: block;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: none;
  height: 100%;
}

.layout {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 1074px;
  margin: 0 auto 0 auto;
}

@media (min-width: 320px) and (max-width: 374px) {
  #wrapper {
    max-width: 100%;
  }

  .layout {
    max-width: 324px;
    margin: 0 auto 0 auto;
  }
}

header,
main,
footer,
section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#content {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

:root {
  --creamy: #FFFBF5;
  --accent: #4B6049;
  --text: #484847;
}

h2 {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: var(--text);
}

h3 {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: var(--text);
}

h4 {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: var(--text);
}

p {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--text);
}


.btn {
  width: 219px;
  height: 59px;
  background: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in;
}

.btn span {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  padding-bottom: 6px;
  color: var(--creamy);
}

.btn::before {
  content: '';
  display: block;
  position: absolute;
  transform: translate(8px, -8px);
  border: 1px solid var(--accent);
  width: 217px;
  height: 57px;
  transition: transform 0.2s ease-in;
}

.btn:hover {
  transform: translate(8px, -8px);
}

.btn:hover::before {
  transform: none;
}

.btn-arrow-right {
  width: 200px;
  height: 50px;
  border: 2px solid var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in;
}

.btn-arrow-right span {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 6px;
  color: var(--accent);
  position: relative;
  left: -1px;
}

.btn-arrow-right::before {
  content: '';
  display: block;
  position: absolute;
  width: 71px;
  height: 12px;
  background: url('../images/icon-button-arrow-right.png');
  right: -38px;
  transition: transform 0.2s ease-in;
}

.btn-arrow-right:hover::before {
  transform: translate(4px, 0);
}

.btn-arrow-bottom {
  width: 200px;
  height: 50px;
  border: 2px solid var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in;
  margin-bottom: 20px;
}

.btn-arrow-bottom span {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 6px;
  color: var(--accent);
  position: relative;
  left: -1px;
}

.btn-arrow-bottom::before {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 31px;
  background: url('../images/icon-button-arrow-bottom.png');
  bottom: -18px;
  transition: transform 0.2s ease-in;
}

.btn-arrow-bottom:hover::before {
  transform: translate(0, 4px);
}

@media (min-width: 320px) and (max-width: 374px) {
  .btn {
    width: 132px;
    height: 42px;
  }

  .btn span {
    font-size: 18px;
    padding-bottom: 4px;
  }

  .btn::before {
    transform: translate(4px, -4px);
    width: 130px;
    height: 40px;
  }

  .btn:hover {
    transform: translate(4px, -4px);
  }

  .btn-arrow-right {
    width: 132px;
    height: 42px;
    border: 1px solid var(--accent);
  }

  .btn-arrow-right span {
    font-size: 18px;
    padding-bottom: 4px;
    left: -1px;
  }

  .btn-arrow-right::before {
    width: 30px;
    height: 7px;
    background-size: cover;
    right: -16px;
    background-position-x: -11px;
  }

  .btn-arrow-bottom {
    width: 132px;
    height: 42px;
    border: 1px solid var(--accent);
    margin-bottom: 0;
  }

  .btn-arrow-bottom span {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 6px;
    left: -1px;
  }

  .btn-arrow-bottom::before {
    display: none;
  }

}

header {
  margin-top: 11px;
}

header .layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 246px;
  max-height: 144px;
}

header .logo a {
  display: block;
}

header h1 {
  text-indent: -1111px;
  position: absolute;
  display: none;
}

header nav {
  border-bottom: solid 1px var(--accent);
  width: 564px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 25px;
  height: 32px;
}

header nav ul li a {
  color: var(--text);
  font-family: 'Candara';
  font-weight: 200;
  font-size: 26px;
  color: var(--text);
  cursor: pointer;
  letter-spacing: -0.19px;
}

header nav ul li a:hover {
  color: var(--accent);
}

header .interface {
  width: 150px;
}

header .interface ul {
  display: flex;
  justify-content: space-between;
}

header .interface ul li a {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

header .interface ul li.burger {
  display: none;
}

header .interface ul li.cabinet a {
  background-image: url(../images/icon-cabinet-default.png);
}

header .interface ul li.favourite a {
  background-image: url(../images/icon-fav-default.png);
}

header .interface ul li.basket a {
  background-image: url(../images/icon-basket-default.png);
}

header .interface ul li.burger a {
  background-image: url(../images/icon-burger.png);
}


header .interface ul li.cabinet a:hover {
  background-image: url(../images/icon-cabinet-hover.png);
}

header .interface ul li.favourite a:hover {
  background-image: url(../images/icon-fav-hover.png);
}

header .interface ul li.basket a:hover {
  background-image: url(../images/icon-basket-hover.png);
}

@media (min-width: 320px) and (max-width: 374px) {
  header {
    margin-top: 0;
    margin-bottom: -5px;
  }

  header .layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  header .logo {
    width: 150px;
  }

  header nav {
    display: none;
  }

  header .interface {
    margin-top: 27px;
  }

  header .interface ul {
    gap: 21px;
    justify-content: flex-end;
  }

  header .interface ul li.burger {
    display: block;
  }

  header .interface li.favourite {
    display: none;
  }

  header .interface ul li a {
    width: 24px;
    height: 24px;
  }
}

/* First view */
.first-view .layout {
  overflow: visible;
}

.first-view .wrapper {
  display: flex;
}

.first-view article {
  margin-top: 75px;
  z-index: 2;
}

.first-view article h2 {
  width: 570px;
  margin-bottom: 89px;
  letter-spacing: -0.9px;
}

.first-view article h4 {
  width: 490px;
  margin-bottom: 103px;
}

.first-view .button-catalogue {
  margin-bottom: 75px;
}

.first-view .image-holder {
  background: url("../images/image-main-page-hero.png") no-repeat -162px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  right: 0;
}


@media (min-width: 320px) and (max-width: 374px) {
  .first-view .layout {
    max-width: 100%;
  }

  .first-view .wrapper {
    flex-direction: column-reverse;
  }

  .first-view .image-holder {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 238px;
    background-image: url("../images/image-360-main-page-hero.png");
    background-size: contain;
    background-position: 50% 50%;
  }

  .first-view article {
    max-width: 328px;
    margin: 15px auto 0;
  }

  .first-view article h2 {
    width: 100%;
    margin-bottom: 13px;
    font-size: 32px;
    line-height: 37px;
    font-weight: 600;
    letter-spacing: 0;
  }

  .first-view article h4 {
    width: 100%;
    margin-bottom: 21px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1px;
  }

  .first-view .button-catalogue {
    margin-bottom: 40px;
  }
}

.slider {
  margin-bottom: 100px;
}

.slider .slide {
  position: relative;
  margin-bottom: 55px;
}

.slider .slide img.mobile {
  display: none;
}


.slider .slide article {
  position: absolute;
  top: 7.4%;
  right: 50%;
  margin-right: 6.3%;
}

.slider .slide article h2 {
  margin-bottom: 53px;
  float: right;
}

.slider .slide article h4 {
  width: 423px;
  font-family: 'Candara';
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 49px;
  float: right;
}

.slider .slide .slider-controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 1.5%;
  width: 100%;
}

.slider .slide .slider-controls .radio {
  width: 20px;
  height: 20px;
  background: url(../images/icon-radio-unchecked.png);
  cursor: pointer;
}

.slider .slide .slider-controls .radio.active {
  background: url(../images/icon-radio-checked.png);
}

.slider .slide .slider-controls .radio:hover {
  transform: translate(0, -2px);
}

.slider .button-catalogue {
  display: flex;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 374px) {
  .slider {
    margin-bottom: 0;
  }

  .slider .slide {
    margin-bottom: 38px;
  }

  .slider .slide img.mobile {
    display: block;
    width: 360px;
    margin: 0 auto;
  }

  .slider .slide img.desktop {
    display: none;
  }

  .slider .slide article {
    top: 6px;
    right: 0;
    margin-right: 0;
    left: 16px;
  }

  .slider .slide article h2 {
    margin-bottom: 33px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    float: none;
  }

  .slider .slide article h4 {
    max-width: 42.1%;
    font-size: 14px;
    line-height: 17px;
    width: unset;
    float: none;
  }

  .slider .slide .slider-controls {
    gap: 15px;
    bottom: 2.2%;
  }

  .slider .slide .slider-controls .radio,
  .slider .slide .slider-controls .radio.active {
    width: 10px;
    height: 10px;
    background-size: cover;
  }

  .slider .button-catalogue {
    display: none;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {

  .slider .slide article h2 {
    font-size: 50px;
  }

  .slider .slide article h4 {
    font-size: 38px;
  }
}

.blog {
  margin-bottom: 95px;
}

.blog article {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 120px;
}

.blog article:nth-of-type(2n) {
  flex-direction: row-reverse;
  margin-bottom: 208px;
}

.blog article:last-of-type {
  margin-bottom: 97px;
}

.blog article .image-holder {
  width: calc((100%-15px)/2);
}

.blog article .text {
  width: calc((100%-15px)/2);
}

.blog article .text h3 {
  margin-bottom: 18px;
  line-height: 1;
  color: #000;
}

.blog article .text h4 {
  margin-bottom: 15px;
}

.blog .button-show-more {
  margin: 0 auto;
  width: fit-content;
}


@media (min-width: 320px) and (max-width: 374px) {
  .blog {
    margin-bottom: 38px;
  }

  .blog .layout {
    max-width: 328px;
  }

  .blog article {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 11px;
    margin-bottom: 87px;
  }

  .blog article:nth-of-type(2n) {
    flex-direction: column-reverse;
    margin-bottom: 87px;
  }

  .blog article:last-of-type {
    margin-bottom: 88px;
  }

  .blog article .image-holder {
    width: 100%;
  }

  .blog article .text {
    width: 100%;
  }

  .blog article .text h3 {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 22px;
  }

  .blog article .text h4 {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 17px;
  }

  .blog .button-show-details {
    position: absolute;
    bottom: -49px;
  }

  .blog .button-show-more {
    margin: 0 auto;
    width: fit-content;
  }

}

.contacts {
  margin-bottom: 8px;
}

.contacts ul {
  float: right;
  display: flex;
  gap: 15px;
  margin-right: 1px;
}

.contacts ul li {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.contacts ul li a {
  display: block;

}

.contacts ul li a {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.contacts ul li a img {
  max-width: 100%;
  max-height: 100%;
}

.contacts ul li:hover a img {
  display: none;
}


.contacts ul li:hover a.instagram {
  background: url("../images/icon-instagram-hover.png");
  background-size: cover;
}

.contacts ul li:hover a.mail {
  background: url("../images/icon-email-hover.png");
  background-size: cover;
}

.contacts ul li:hover a.telephone {
  background: url("../images/icon-phone-hover.png");
  background-size: cover;
}

.contacts ul li:hover a.address {
  background: url("../images/icon-address-hover.png");
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 374px) {
  .contacts {
    margin-bottom: 3px;
  }

  .contacts .layout {
    max-width: 328px;
  }

  .contacts ul {
    float: right;
    gap: 20px;
    margin-right: 0;
  }

  .contacts ul li {
    width: 30px;
    height: 30px;
  }
}

footer {
  background: var(--accent);
  padding-bottom: 11px;
}

footer .wrapper {
  display: grid;
  grid-template-columns: 248px max-content max-content 1fr;

}

footer .wrapper .logo-bottom {
  margin-top: 29px;
  margin-left: 15px;
}


footer .wrapper p,
footer .wrapper a {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--creamy);
}

footer .wrapper .menu {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 38px;
  margin-left: 87px;
}

footer .wrapper .menu li a,
footer .wrapper .confidential a {
  display: block;
  transition: all 0.1s ease-in;
}

footer .wrapper .menu li a:hover,
footer .wrapper .confidential a:hover {
  transform: translate(2px, -1px);
}

footer .wrapper .working-hours {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 38px;
  margin-left: 37px;
}

footer .wrapper .column {
  margin-left: 50px;
}

footer .wrapper .confidential {
  margin-top: 36px;
  margin-bottom: 9px;
}

footer .wrapper .phones {
  margin-bottom: 24px;
}

footer .wrapper .phones p {
  margin-bottom: 6px;
}

footer .wrapper .payment-methods ul {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
}

footer .wrapper .payment-methods ul li {
  display: block;
  cursor: pointer;
}

footer .wrapper .payment-methods ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

footer .wrapper .payment-methods ul li.mastercard {
  width: 52px;
  height: 32px;
}

footer .wrapper .payment-methods ul li.mastercard:hover a {
  background: url(../images/icon-mastercard-hover.png);
  background-size: cover;
}

footer .wrapper .payment-methods ul li.visa {
  width: 77px;
  height: 26px;
}

footer .wrapper .payment-methods ul li.visa:hover a {
  background: url(../images/icon-visa-hover.png);
  background-size: cover;
}

footer .wrapper .payment-methods ul li.apple-pay {
  width: 83px;
  height: 34px;
}

footer .wrapper .payment-methods ul li.apple-pay:hover a {
  background: url(../images/icon-apay-hover.png);
  background-size: cover;
}

footer .wrapper .payment-methods ul li a img {
  width: 100%;
  height: 100%;
}

footer .wrapper .payment-methods ul li a img.mobile {
  display: none;
}

footer .wrapper .payment-methods ul li:hover a img {
  display: none;
}

@media (min-width: 320px) and (max-width: 374px) {

  footer .layout {
    max-width: 328px;
  }

  footer .wrapper {
    grid-template-columns: 47.5% 1fr;
    padding-bottom: 13px;
    position: relative;
  }

  footer .wrapper .logo-bottom {
    margin: 19px 0 15px;
    grid-column: 1/3;
    width: 100px;
  }

  footer .wrapper p,
  footer .wrapper a {
    font-size: 14px;
    line-height: 17px;
  }

  footer .wrapper .menu {
    grid-column: 1;
    grid-row: 3;
    gap: 3px;
    margin: 0;
  }


  footer .wrapper .working-hours {
    grid-column: 1;
    grid-row: 2;
    gap: 2px;
    margin: 0 0 19px 0;
  }

  footer .wrapper .column {
    margin-left: 0;
    grid-column: 2;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
  }

  footer .wrapper .confidential {
    margin: 0;
    order: 2;
  }

  footer .wrapper .phones {
    margin-bottom: 34px;
    order: 1;
  }

  footer .wrapper .phones p {
    margin-bottom: 3px;
  }

  footer .wrapper .payment-methods {
    order: 3;
    position: absolute;
    bottom: 0;
    left: 45.3%;
  }

  footer .wrapper .payment-methods ul {
    gap: 14px;
  }

  footer .wrapper .payment-methods ul li.mastercard {
    width: 37px;
    height: 24px;
    order: 1;
  }

  footer .wrapper .payment-methods ul li.mastercard:hover a {
    background: url(../images/icon-360-mastercard-hover.png) no-repeat;
  }

  footer .wrapper .payment-methods ul li.visa {
    width: 54px;
    height: 18px;
    order: 3;
  }

  footer .wrapper .payment-methods ul li.apple-pay {
    width: 59px;
    height: 24px;
    order: 2;
  }



  footer .wrapper .payment-methods ul li a img.desktop {
    display: none;
  }

  footer .wrapper .payment-methods ul li a img.mobile {
    display: block;
  }

  footer .wrapper .payment-methods ul li:hover a img {
    display: none;
  }
}

/* CATALOG.html start */

.sorting {
  margin: 64px 0 23px;
}

.sorting .wrapper {
  margin-left: 234px;
}

.sorting .wrapper p {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-right: 14px;
}

.sorting .wrapper p::after {
  display: block;
  content: '';
  position: absolute;
  background: var(--text);
  height: 1px;
  left: 0;
  bottom: 3px;
  right: 14px;
}

.sorting .wrapper p::before {
  display: block;
  content: '';
  position: absolute;
  width: 13px;
  height: 6px;
  background: url("../images/icon-expand-more.png");
  right: 0px;
  top: 12px;
}

.sorting .wrapper p:hover {
  transform: translate(-2px, -2px);
  transition: all 0.2s ease-in;
}

.sorting .wrapper .inactive {
  display: none;
}



/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/