/* CATALOG.html start */

/* sorting component */
.sorting {
  margin: 64px 0 23px;
}

.sorting .wrapper {
  margin-left: 234px;
}

.sorting .wrapper p {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-right: 14px;
}

.sorting .wrapper p:hover {
  color: var(--accent);
}

.sorting .wrapper p::after {
  display: block;
  content: '';
  position: absolute;
  background: var(--text);
  height: 1px;
  left: 0;
  bottom: 3px;
  right: 14px;
}

.sorting .wrapper p::before {
  display: block;
  content: '';
  position: absolute;
  width: 13px;
  height: 6px;
  background: url("../images/icon-expand-more.png");
  right: 0px;
  top: 12px;
  transition: all 0.2s ease-in;
}

.sorting .wrapper p:hover:before {
  transform: translate(0, 3px);
}

.sorting .wrapper .inactive {
  display: none;
}

/* catalogue component */
.catalogue {
  margin-bottom: 85px;
}

.catalogue .flex {
  display: flex;
  gap: 6px;
}

.catalogue .filters {
  min-width: 228px;
}

.catalogue .filters .group {
  margin-bottom: 8px;
}

.catalogue .filters .group.inactive {
  margin-bottom: -5px;
}

.catalogue .filters .group .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  margin-right: 3px;
}

.catalogue .filters .group.price .header {
  margin-bottom: 10px;
}

.catalogue .filters .group .header h4 {
  cursor: pointer;
}

.catalogue .filters .group .header h4:hover {
  font-weight: 600;
}

.catalogue .filters .group.price .header h4:hover {
  font-weight: 400;
}

.catalogue .filters .group .header span {
  display: block;
  width: 11px;
  height: 11px;
  position: relative;
  cursor: pointer;
}

.catalogue .filters .group.active .header span {
  background: url(../images/icon-filter-close.png);
  top: 6px;
}

.catalogue .filters .group.inactive .header span {
  background: url(../images/icon-filter-open.png);
  top: 3px;
}

.catalogue .filters .group ul {
  display: none;
}

.catalogue .filters .group.active ul {
  display: block;
  margin-bottom: 8px;
}

.catalogue .filters .group ul li {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 25px;
  position: relative;
  margin-bottom: 6px;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.catalogue .filters .group ul li:hover {
  font-weight: 600;
}

.catalogue .filters .group ul li:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  background: url(../images/icon-checkbox-default.png);
}

.catalogue .filters .group ul li.checked:before {
  background: url(../images/icon-checkbox-alt-checked.png);
}

.catalogue .filters .group.price .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 18px;
}

.catalogue .filters .group.price input {
  width: 90px;
  height: 24px;
  padding: 16px 2px 25px;
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--text);
  position: relative;
}

.catalogue .filters .group.price span {
  display: inline-block;
  width: 15px;
  height: 1px;
  background-color: var(--accent);
}

.catalogue .filters .group.price input::placeholder {
  color: rgba(72, 72, 71, 0.5);
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* Main section */

.catalogue .items {
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
  margin-top: 2px;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
}

.catalogue .items .item {
  width: 260px;
  padding: 13px 13px 8px;
}

.catalogue .items .item:hover {
  background-color: var(--creamy);
  border: 2px solid var(--accent);
}


.catalogue .items .item .image-holder {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
}

.catalogue .items .item .image-holder img {
  background-size: cover;
}

.catalogue .items .item .heart {
  display: block;
  position: absolute;
  right: 0;
  top: 1px;
  width: 36px;
  height: 36px;
  background: url("../images/icon-fav-default.png") no-repeat;
  background-position: center;
  cursor: pointer;
}

.catalogue .items .item .heart:hover {
  background-image: url("../images/icon-fav-alt-hover.png");
  top: 3px;
}

.catalogue .items .item .name {
  margin-bottom: 3px;
  height: 60px;
}

.catalogue .items .item .name p {
  line-height: 150%;
}

.catalogue .items .item .price {
  text-align: end;
  margin-bottom: 21px;
}

.catalogue .items .item .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalogue .items .item .controls a {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: var(--text);
}

.catalogue .items .item .controls a:hover {
  font-weight: 600;
}

.catalogue .button-show-more {
  width: fit-content;
  margin: 0 auto;
}

/* Recentrly viewed section */
.more-products {
  margin-bottom: 141px;
}

.more-products h3 {
  margin-bottom: 48px;
}

.more-products .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.more-products .items .item {
  width: 260px;
  border: solid 1px #fff;
  transition: all 150ms ease-in;
}

.more-products .items .item:hover {
  background: var(--creamy);
  border-color: var(--accent);
  cursor: pointer;
}

.more-products .items .item .image-holder {
  width: 100%;
  padding: 13px 13px 7px 13px;
}

.more-products .items .item .image-holder img {
  background-size: cover;
}

.more-products .items .item p {
  margin: 0 13px;
  line-height: 150%;
}

.more-products .items .item p.name {
  margin-right: 24px;
  height: 60px;
}

.more-products .items .item p.price {
  text-align: right;
}

/* product_card.html */

/* common for all ratings in this section */
/* TODO: rating mixin */
.rating {
  display: flex;
}

.rating .star {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.rating .star.rated {
  background-image: url("../images/icon-star-rating.png");
}

.rating .star.unrated {
  background-image: url("../images/icon-star-no-rating.png");
}

.rating .star.unrated:hover {
  background-image: url("../images/icon-star-rating.png");
}

.product-card {
  margin-bottom: 43px;
  margin-top: -1px;
}

.product-card .layout {
  overflow: visible;
}

.product-card .top-controls {
  margin-bottom: 14px;
}

.product-card .top-controls .go-back {
  display: block;
  width: 36px;
  height: 36px;
  background: url("../images/icon-product-card-back-arrow-left.png") no-repeat;
  transition: transform 0.2s ease-in;
}

.product-card .top-controls .go-back:hover {
  transform: translate(-2px, 0);
}

.product-card .flex {
  display: flex;
  gap: 3px;
  justify-content: space-between;
}

.product-card .flex .image-column {
  width: 42.84%;
}

.product-card .flex .image-column .image-holder {
  width: 100%;
  overflow: hidden;
}

.product-card .flex .image-column .image-holder img {
  background-size: cover;
}

.product-card .flex .product-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 51.4%;
}

.product-card .flex .product-column .name {
  display: block;
  margin-bottom: 16px;
  line-height: 1;
}

.product-card .flex .product-column .rating {
  margin-bottom: 6px;
}

.product-card .flex .product-column .description {
  margin-bottom: 44px;
  padding-right: 16px;
}

.product-card .flex .product-column .description p {
  line-height: 24.4px;
}

.product-card .flex .product-column .controls {
  display: flex;
  flex-direction: column;
  padding-right: 8px;
}

.product-card .flex .product-column .controls .row {
  display: flex;
  justify-content: space-between;
}

.product-card .flex .product-column .controls .row:nth-of-type(1) {
  margin-bottom: 37px;
}

.product-card .flex .product-column .controls .row:nth-of-type(2) {
  align-items: center;
}

.product-card .flex .product-column .controls .row .favourite {
  width: 36px;
  height: 36px;
  background: url("../images/icon-fav-default.png");
  cursor: pointer;
}

.product-card .flex .product-column .controls .row .favourite:hover {
  background: url("../images/icon-fav-alt-hover.png") no-repeat;
  position: relative;
  top: 5px;
  left: 1px;
}

.product-card .flex .product-column .controls .row .quantity {
  width: 86px;
  height: 49px;
  padding: 0 15px;
  font-family: 'Candara';
  font-weight: 400;
  font-size: 26px;
}

.product-card .flex .product-column .controls .row .btn {
  top: -5px;
}

/* Full info section */
.full-info {
  margin-bottom: 36px;
}

.full-info .header {
  display: flex;
  gap: 85px;
  margin: 0 1px;
}

.full-info .header h4:hover {
  border-bottom: 1px solid var(--text);
}

.full-info .header .on {
  border-bottom: 1px solid var(--text);
  cursor: not-allowed;
}

.full-info .header .off {
  cursor: pointer;
}

.full-info .inactive {
  display: none;
}

.full-info .reviews {
  margin: 47px 1px 0;
}

.full-info .reviews .button-write-review {
  margin-bottom: 44px;
}

.full-info .reviews .content {
  margin-bottom: 41px;
}

.full-info .reviews .content .review {
  display: flex;
  min-height: 73px;
  border-bottom: 1px solid var(--text);
  margin-bottom: 8px;
}

.full-info .reviews .content .review .author {
  width: 145px;
  min-width: 145px;
}

.full-info .reviews .content .review .rating {
  align-self: center;
  margin-right: 26px;
}

.full-info .reviews .content .review .rating .star:hover {
  cursor: unset;
}

.full-info .reviews .content .review .rating .star.inactive:hover {
  background-image: url("../images/icon-star-no-rating.png");
}

.full-info .reviews .content .review .text {
  min-width: 450px;
  width: 450px;
}

.full-info .reviews .button-show-more {
  width: fit-content;
  margin: 0 auto;
}

/* related-products section */
.related-products {
  margin-bottom: 101px;
}

.related-products h3 {
  margin-bottom: 35px;
}

.related-products .wrapper .items {
  max-width: 920px;
  margin: 0 auto;
}

/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/