/* Brand Colors ------------------------------------------------*/
$color1: #ebedec;
$color2: #3aebca;
$font-color: #e60c0c;
$placeholder: $color2;
$base-font-weight: 300;
$brand-font-1: '',sans-serif;
$brand-font-2: '',sans-serif;
