/* Brand Colors ------------------------------------------------*/
$creamy: #fffbf5;
$accent: #4b6049;
$text: #484847;

$base-font-weight: 300;
$brand-font-1: "", sans-serif;
$brand-font-2: "", sans-serif;
