@media (max-width: 767px) {
}
.blog-feed {
  margin-bottom: 95px;
  @media (max-width: 1140px) {
    margin-bottom: 38px;
  }
  .layout {
    @media (max-width: 1140px) {
      width: 90%;
    }
    @media (max-width: 767px) {
      max-width: 522px;
    }
    article {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-bottom: 120px;
      @media (max-width: 1140px) {
        justify-content: space-around;
        margin-bottom: 6.25vw;
      }
      @media (max-width: 767px) {
        position: relative;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 87px;
      }
      &:nth-of-type(2n) {
        flex-direction: row-reverse;
        margin-bottom: 208px;
        @media (max-width: 1140px) {
          margin-bottom: 6.25vw;
        }
        @media (max-width: 767px) {
          flex-direction: column;
          margin-bottom: 87px;
        }
      }
      &:last-of-type {
        margin-bottom: 97px;
        @media (max-width: 1140px) {
          margin-bottom: 6.25vw;
        }
        @media (max-width: 767px) {
          margin-bottom: 88px;
        }
      }
      .image-holder {
        width: calc((100% - 15px) / 2);

        @media (max-width: 767px) {
          width: 100%;
        }
      }
      .text {
        width: calc((100% - 15px) / 2);
        @media (max-width: 1140px) {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        @media (max-width: 767px) {
          width: 100%;
        }
        h3 {
          margin-bottom: 18px;
          line-height: 1;
          color: #000;
          @media (max-width: 1140px) {
            font-size: clamp(18px, 3.1vw, 36px);
            margin-bottom: 0;
          }
          @media (max-width: 767px) {
            margin-bottom: 11px;
            font-size: 18px;
            line-height: 22px;
          }
        }
        p {
          margin-bottom: 5px;
          font-family: "Candara";
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 120%;
          color: $text;
          @media (max-width: 1140px) {
            margin-bottom: 0;
            font-size: clamp(16px, 2.06vw, 26px);
            line-height: 120%;
          }
          @media (max-width: 767px) {
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
    .button-show-more {
      margin: 0 auto;
      width: fit-content;
      @media (max-width: 767px) {
        margin: 0 auto;
        width: fit-content;
      }
    }
    .button-show-details {
      @media (max-width: 767px) {
        position: absolute;
        bottom: -49px;
      }
    }
  }
}
