.bottom-contacts {
  margin-bottom: 8px;
  @media (max-width: 767px) {
    margin-bottom: 3px;
  }
  .layout {
    @media (max-width: 767px) {
      width: 96%;
    }
    ul {
      float: right;
      display: flex;
      gap: 15px;
      margin: 0 5px 0 0;
      @media (max-width: 767px) {
        gap: 20px;
        margin-right: 0;
      }
      li {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
        }
        &:hover a {
          display: block;
          width: 100%;
          height: 100%;
          cursor: pointer;
          background-size: cover;
          &.instagram {
            background-image: url("../../images/icon-instagram-hover.png");
          }
          &.mail {
            background-image: url("../../images/icon-email-hover.png");
          }
          &.telephone {
            background-image: url("../../images/icon-phone-hover.png");
          }
          &.address {
            background-image: url("../../images/icon-address-hover.png");
          }
          img {
            display: none;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}
