footer {
  background: $accent;
  padding-bottom: 11px;
  .layout {
    @media (max-width: 1140px) {
      width: 96%;
    }
    .wrapper {
      display: grid;
      grid-template-columns: 248px max-content max-content 1fr;
      margin-top: 29px;
      @media (max-width: 1140px) {
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
        margin-top: 10px;
      }
      @media (max-width: 767px) {
        grid-template-columns: 47.5% 1fr;
        padding-bottom: 13px;
        position: relative;
      }
      .logo-bottom {
        margin-left: 15px;
        @media (max-width: 1140px) {
          margin: 0;
          grid-column: 2;
          width: 80%;
        }
        @media (max-width: 767px) {
          margin: 19px 0 15px;
          grid-column: 1;
        }
      }
      p,
      a {
        font-family: "Candara";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: $creamy;
        @media (max-width: 1074px) {
          font-size: 18px;
          font-weight: 200;
        }
        @media (max-width: 450px) {
          font-size: 3.9vw;
        }
      }
      .menu {
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin-top: 38px;
        margin-left: 87px;
        @media (max-width: 1140px) {
          grid-column: 2;
          grid-row: 2;
          gap: 3px;
          margin: 0;
        }
        @media (max-width: 767px) {
          grid-column: 1;
          grid-row: 3;
        }
        li {
          a {
            display: block;
            transition: all 0.1s ease-in;
            &:hover {
              transform: translate(2px, -1px);
            }
          }
        }
      }
      .confidential {
        margin-top: 36px;
        margin-bottom: 9px;
        @media (max-width: 1140px) {
          margin: 0;
          order: 0;
        }
        @media (max-width: 767px) {
          order: 2;
        }
        a {
          display: block;
          transition: all 0.1s ease-in;
          &:hover {
            transform: translate(2px, -1px);
          }
        }
      }
      .working-hours {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 38px;
        margin-left: 37px;
        @media (max-width: 1140px) {
          grid-column: 3;
          grid-row: 2;
          gap: 2px;
          margin: 0 0 19px 0;
        }
        @media (max-width: 767px) {
          grid-column: 1;
        }
      }
      .column {
        margin-left: 50px;
        @media (max-width: 1140px) {
          margin-left: 0;
          grid-column: 4;
          grid-row: 2/4;
          display: flex;
          flex-direction: column;
        }
        @media (max-width: 767px) {
          grid-column: 2;
        }
      }
      .phones {
        margin-bottom: 24px;
        @media (max-width: 767px) {
          margin-bottom: 34px;
          order: 1;
        }
        p {
          margin-bottom: 6px;
          @media (max-width: 767px) {
            margin-bottom: 3px;
          }
        }
      }
      .payment-methods {
        @media (max-width: 767px) {
          order: 3;
          position: absolute;
          bottom: 0;
          left: 45.3%;
        }
        ul {
          display: flex;
          gap: 25px;
          justify-content: flex-end;
          align-items: center;
          @media (max-width: 767px) {
            gap: 14px;
          }
          li {
            display: block;
            cursor: pointer;
            &.mastercard {
              width: 52px;
              height: 32px;
              @media (max-width: 767px) {
                width: 37px;
                height: 24px;
                order: 1;
              }
              &:hover a {
                background: url(../../images/icon-mastercard-hover.png);
                background-size: cover;
                @media (max-width: 767px) {
                  background: url(../../images/icon-360-mastercard-hover.png)
                    no-repeat;
                }
              }
            }
            &.visa {
              width: 77px;
              height: 26px;
              @media (max-width: 767px) {
                width: 54px;
                height: 18px;
                order: 3;
              }
              &:hover a {
                background: url(../../images/icon-visa-hover.png);
                background-size: cover;
              }
            }
            &.apple-pay {
              width: 83px;
              height: 34px;
              @media (max-width: 767px) {
                width: 59px;
                height: 24px;
                order: 2;
              }
              &:hover a {
                background: url(../../images/icon-apay-hover.png);
                background-size: cover;
              }
            }
            a {
              display: block;
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
                &.mobile {
                  display: none;
                  @media (max-width: 767px) {
                    display: block;
                  }
                }
                &.desktop {
                  @media (max-width: 767px) {
                    display: none;
                  }
                }
              }
            }
            &:hover a img {
              display: none;
            }
          }
        }
      }
    }
  }
}
