.product-card {
  margin-bottom: 43px;
  margin-top: -1px;
  .layout {
    overflow: visible;
    .flex {
      display: flex;
      gap: 3px;
      justify-content: space-between;
      @media (max-width: 1140px) {
        gap: 20px;
      }
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 30px;
      }
      .image-column {
        width: 42.84%;
        @media (max-width: 1140px) {
          flex-basis: 460px;
          flex-shrink: 2;
        }
        @media (max-width: 767px) {
          flex-basis: unset;
          flex-shrink: 0;
          max-width: 460px;
          width: clamp(250px, 69vw, 460px);
          align-self: center;
        }
        .image-holder {
          width: 100%;
          overflow: hidden;
          img {
            background-size: cover;
            width: 100%;
          }
        }
      }
      .product-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%;
        max-width: 515px;
        @media (max-width: 767px) {
          width: 100%;
          max-width: unset;
          gap: 5px;
        }
        .name {
          display: block;
          margin-bottom: 16px;
          line-height: 1;
          order: 0;
          @media (max-width: 1140px) {
            font-size: clamp(20px, 2.3vw, 26px);
            margin-bottom: 8px;
          }
          @media (max-width: 767px) {
            font-size: clamp(18px, 3.3vw, 22px);
            margin: 0;
          }
        }
        .rating {
          margin-bottom: 6px;
          order: 1;
          @media (max-width: 1140px) {
            margin-bottom: 3px;
          }
        }
        .description {
          margin-bottom: 44px;
          padding-right: 16px;
          order: 2;
          @media (max-width: 1140px) {
            margin-bottom: 8px;
            padding-right: 8px;
          }
          p {
            line-height: 120%;
            @media (max-width: 1140px) {
              font-size: clamp(15px, 2vw, 20px);
            }
            @media (max-width: 767px) {
              font-size: clamp(14px, 2.9vw, 18px);
            }
          }
        }
        .price-and-fav {
          order: 3;
          display: flex;
          justify-content: space-between;
          padding-right: 8px;
          margin-bottom: 37px;
          @media (max-width: 1140px) {
            margin-bottom: 0;
          }
          @media (max-width: 767px) {
            order: 0;
          }
          .price {
            @media (max-width: 1140px) {
              font-size: clamp(20px, 2.3vw, 26px);
            }
            @media (max-width: 767px) {
              font-size: clamp(18px, 3.3vw, 22px);
            }
          }
          .favourite {
            align-items: center;
            width: 36px;
            height: 36px;
            background: url("../../images/icon-fav-default.png");
            cursor: pointer;
            &:hover {
              background: url("../../images/icon-fav-alt-hover.png") no-repeat;
            }
            @media (max-width: 767px) {
              display: none;
            }
          }
        }
        .controls {
          order: 4;
          display: flex;
          justify-content: space-between;
          .quantity {
            width: 86px;
            height: 49px;
            padding: 0 15px;
            font-family: "Candara";
            font-weight: 400;
            font-size: 26px;
            @media (max-width: 1140px) {
              width: 54px;
              height: 32px;
              padding: 0 8px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
