#wrapper,
main,
#content,
#sidebar,
aside,
header,
main,
footer,
section {
  @include box;
}
.layout {
  @include box;
  width: 1074px;
  margin: 0 auto;
  @media (max-width: 1140px) {
    width: 96%;
  }
}
#wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: none;
  height: 100%;
}

// #content {
//   display: block;
//   position: relative;
//   overflow: hidden;
//   width: 100%;
// }

h2 {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: $text;
}
h3 {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: $text;
}
h4 {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: $text;
}
p {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $text;
}
.btn {
  display: block;
  width: 219px;
  height: 59px;
  background: $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;

  color: $creamy;
  @media (max-width: 1140px) {
    width: 132px;
    height: 42px;
  }
  span,
  a {
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    padding-bottom: 6px;
    color: $creamy;
    @media (max-width: 1140px) {
      font-size: 18px;
      padding-bottom: 4px;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    transform: translate(8px, -8px);
    border: 1px solid $accent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform 0.2s ease-in;
    @media (max-width: 1140px) {
      transform: translate(4px, -4px);
      width: 130px;
      height: 40px;
    }
  }
  &:hover {
    transform: translate(8px, -8px);
    @media (max-width: 1140px) {
      transform: translate(4px, -4px);
    }
    &::before {
      transform: none;
    }
  }
}
.btn-mini {
  background: $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in;
  width: 97px;
  height: 25px;
  margin-right: 4px;
  margin-top: 2px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 96px;
    height: 25px;
    border: 1px solid $accent;
    transition: transform 0.2s ease-in;
    transform: translate(4px, -4px);
  }
  &:hover {
    transform: translate(4px, -4px);
    &::before {
      transform: none;
    }
  }
  span {
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: $creamy;
    font-size: 14px;
    line-height: 150%;
    padding-bottom: 3px;
  }
}
.btn-arrow-right {
  width: 200px;
  height: 50px;
  border: 2px solid $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in;
  span {
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 6px;
    color: $accent;
    position: relative;
    left: -1px;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 71px;
    height: 12px;
    background: url('../../assets/images/icon-button-arrow-right.png');
    right: -38px;
    transition: transform 0.2s ease-in;
  }
  &:hover::before {
    transform: translate(4px, 0);
  }
}
.btn-arrow-bottom {
  width: 200px;
  height: 50px;
  border: 2px solid $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in;
  margin-bottom: 20px;
  @media (max-width: 1140px) {
    width: 132px;
    height: 42px;
    border: 1px solid $accent;
  }
  span {
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 6px;
    color: $accent;
    position: relative;
    left: -1px;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 31px;
    background: url('../../assets/images/icon-button-arrow-bottom.png');
    bottom: -18px;
    transition: transform 0.2s ease-in;
    @media (max-width: 1140px) {
      height: 26px;
      bottom: -14px;
      background-size: cover;
      width: 10px;
      background-repeat: no-repeat;
    }
  }
  &:hover::before {
    transform: translate(0, 4px);
  }
}
.btn-white {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $accent;
  border: 1px solid $accent;
  transition: all 150ms ease-in;
  &:hover {
    background-color: $creamy;
  }
}
@media (max-width: 1140px) {
  .btn-arrow-right {
    width: 132px;
    height: 42px;
    border: 1px solid $accent;
    span {
      font-size: 18px;
      padding-bottom: 4px;
      left: -1px;
    }
    &::before {
      width: 34px;
      height: 7px;
      background-size: cover;
      right: -13px;
      background-position-x: -8px;
    }
  }
}
.rating {
  display: flex;
  .star {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &.rated {
      background-image: url('../../assets/images/icon-star-rating.png');
    }
    &.unrated {
      background-image: url('../../assets/images/icon-star-no-rating.png');
      &:hover {
        background-image: url('../../assets/images/icon-star-rating.png');
      }
    }
  }
}
.top-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  .go-back {
    display: block;
    width: 36px;
    height: 36px;
    background: url('../../assets/images/icon-product-card-back-arrow-left.png') no-repeat;
    transition: transform 0.2s ease-in;
    cursor: pointer;
    &:hover {
      transform: translate(-2px, 0);
    }
    @media (max-width: 767px) {
      width: 24px;
      height: 24px;
    }
  }
  .favourite {
    visibility: hidden;
    width: 24px;
    height: 24px;
    background: url('../../assets/images/icon-fav-default.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
    &:hover {
      background: url('../../assets/images/icon-fav-alt-hover.png') no-repeat center;
      background-size: contain;
    }
    @media (max-width: 767px) {
      visibility: visible;
    }
  }
}
