@font-face {
  font-family: 'Poiret One';
  src: url('../../assets/fonts/PoiretOne-Regular.woff2') format('woff2'),
    url('../../assets/fonts/PoiretOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Candara';
  src: url('../../assets/fonts/Candara.woff2') format('woff2'),
    url('../../assets/fonts/Candara.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Candara';
  src: url('../../assets/fonts/Candara-Light.woff2') format('woff2'),
    url('../../assets/fonts/Candara-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
