@import "global/reset.scss";
@import "global/mixins.scss";
@import "global/var.scss";
@import "global/styles.scss";
@import "global/fonts.scss";

@import "partials/header.scss";
@import "partials/first-view.scss";
@import "partials/slider.scss";
@import "partials/blog-feed.scss";
@import "partials/bottom-contacts.scss";
@import "partials/catalogue.scss";
@import "partials/more-products.scss";
@import "partials/product-card.scss";
@import "partials/full-info.scss";
@import "partials/related-products.scss";
@import "partials/delivery_and_payment.scss";
@import "partials/blog.scss";
@import "partials/cabinet.scss";
@import "partials/contacts.scss";
@import "partials/footer.scss";
