.blog {
  margin-bottom: -4px;
  .layout {
    max-width: 1074px;
    width: auto;
    .go-back {
      margin: 18px 0 -9px;
    }
    h2 {
      margin-left: 66px;
      margin-bottom: 35px;
      font-family: "Candara";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 49px;
    }
    .text-with-image {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      &.left {
        flex-direction: row-reverse;
      }
      .text {
        width: 51.4%;
        margin: 48px 0 0;
        p {
          margin-bottom: 24px;
        }
      }
      .image-holder {
        width: 46.6%;
        img {
        }
      }
    }
    p {
      line-height: 24px;
      margin-bottom: 75px;
    }
  }
}
