.cabinet {
  margin: 51px 0 10px;
  .layout {
    width: auto;
    max-width: 928px;
    h2 {
      width: fit-content;
      margin: 0 auto 27px;
      font-family: "Candara";
      font-style: normal;
      font-weight: 200;
      font-size: 40px;
      line-height: 49px;
      color: $text;
    }
    .tabs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      li {
        a {
          display: block;
          padding-bottom: 7px;
          font-family: "Candara";
          font-style: normal;
          font-weight: 200;
          font-size: 26px;
          color: $text;
          cursor: pointer;
          position: relative;
          &.active,
          &:hover {
            font-weight: 400;
            letter-spacing: -0.25px;
            margin: 0;
            &::before {
              display: block;
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 1px;
              background-color: $text;
            }
          }
        }
      }
    }
    .window {
      form {
        &.for-contacts {
          display: none;
        }
        .flex {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 15px;
          margin-bottom: 24px;
          .column {
            display: flex;
            flex-direction: column;
            width: 368px;
            label,
            input,
            input::placeholder {
              font-family: "Candara";
              font-style: normal;
              font-weight: 200;
              font-size: 20px;
              line-height: 150%;
              color: $text;
            }
            label {
              margin-bottom: 3px;
            }
            input {
              color: $text;
              padding: 5px 8px 10px;
              margin-bottom: 28px;
            }
            &:last-of-type {
              input:last-of-type {
                margin-bottom: 61px;
              }
            }
          }
        }
        &.for-address {
          .flex {
            margin-bottom: 30px;
            .column {
              &:first-of-type {
                width: 228px;
              }
              &:last-of-type {
                margin-right: 7px;
                > input:last-of-type {
                  margin-bottom: 0;
                }
              }
              .contact {
                position: relative;
                padding-left: 60px;
                margin-bottom: 20px;
                .nth {
                  position: absolute;
                  left: 0;
                  top: 3px;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  font-family: "Candara";
                  font-weight: 200;
                  font-size: 40px;
                  text-align: center;
                  color: #fff;
                  background-color: $accent;
                }
                p {
                  margin-bottom: 2px;
                  &:last-of-type {
                    margin-bottom: 5px;
                  }
                }
                .links {
                  display: flex;
                  justify-content: space-between;
                  a {
                    font-family: "Candara";
                    font-style: normal;
                    font-weight: 200;
                    font-size: 18px;
                    line-height: 150%;
                    text-decoration: underline;
                    color: $text;
                    &:hover {
                      transform: translate(0, -2px);
                      font-weight: 400;
                    }
                  }
                }
              }
              p {
                margin-bottom: 13px;
              }
              input {
                margin-bottom: 10px;
              }
              .group {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                input {
                  margin: 0;
                  width: 100px;
                  height: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}
