/* catalogue component */
.catalogue {
  margin-bottom: 85px;
  @media (max-width: 1140px) {
    margin-bottom: 55px;
  }
  .sorting {
    margin: 64px 0 23px;
    @media (max-width: 1140px) {
      margin: 12px 0;
    }
    .wrapper {
      margin-left: 234px;
      @media (max-width: 1140px) {
        margin: 0;
      }
      p {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-right: 14px;
        font-size: clamp(17px, 1.9vw, 20px);
        line-height: 120%;
        @media (max-width: 767px) {
          font-size: clamp(14px, 3.4vw, 17px);
        }
        &:hover {
          color: var(--accent);
        }
        &::after {
          display: block;
          content: "";
          position: absolute;
          background: var(--text);
          height: 1px;
          left: 0;
          bottom: 3px;
          right: 14px;
        }
        &::before {
          display: block;
          content: "";
          position: absolute;
          right: 0;
          top: 25%;
          bottom: 0;
          width: 13px;
          background: url("../images/icon-expand-more.png") no-repeat center;
          background-size: contain;
          @media (max-width: 767px) {
            top: 20%;
          }
        }
        &:hover:before {
          transform: translate(0, 3px);
        }
        &:first-of-type {
          display: none;
          @media (max-width: 1140px) {
            display: inline-block;
            margin-right: 39px;
          }
        }
      }
    }
  }
  .flex {
    display: flex;
    gap: 6px;
    .filters {
      flex-basis: 228px;
      flex-shrink: 0;
      @media (max-width: 1140px) {
        display: none;
      }
      .group {
        margin-bottom: 8px;
        &.inactive {
          margin-bottom: -5px;
          .header span {
            background: url(../images/icon-filter-open.png);
            top: 3px;
          }
        }
        &.active {
          .header {
            span {
              background: url(../images/icon-filter-close.png);
              top: 6px;
            }
          }
          ul {
            display: block;
            margin-bottom: 8px;
          }
        }
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 17px;
          margin-right: 3px;
          h4 {
            cursor: pointer;
            &:hover {
              font-weight: 600;
            }
          }
          span {
            display: block;
            width: 11px;
            height: 11px;
            position: relative;
            cursor: pointer;
          }
        }
        &.price {
          .header {
            margin-bottom: 10px;
            h4:hover {
              font-weight: 400;
            }
          }
          .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 18px;
          }
          input {
            width: 90px;
            height: 24px;
            padding: 16px 2px 25px;
            font-family: "Candara";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: var(--text);
            position: relative;
            &::placeholder {
              color: rgba(72, 72, 71, 0.5);
              font-family: "Candara";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 24px;
            }
          }
          span {
            display: inline-block;
            width: 15px;
            height: 1px;
            background-color: var(--accent);
          }
        }
        ul {
          display: none;
        }
        ul li {
          font-family: "Candara";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          padding-left: 25px;
          position: relative;
          margin-bottom: 6px;
          letter-spacing: -0.2px;
          cursor: pointer;
          &:hover {
            font-weight: 600;
          }
          &:before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 3px;
            width: 20px;
            height: 20px;
            background: url(../images/icon-checkbox-default.png);
          }
          &.checked:before {
            background: url(../images/icon-checkbox-alt-checked.png);
          }
        }
      }
    }
    .column {
      .items {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-bottom: 44px;
        margin-top: 2px;
        flex-wrap: wrap;
        row-gap: 30px;
        justify-content: space-between;
        @media (max-width: 1140px) {
          gap: 16px;
          justify-content: center;
        }
        &:after {
          @media (max-width: 1140px) {
            display: block;
            content: "";
            width: 260px;
          }
          @media (max-width: 767px) {
            width: clamp(156px, 43vw, 260px);
          }
        }
        .item {
          width: 260px;
          padding: 13px 13px 8px;
          border: 1px solid #fff;
          @media (max-width: 950px) {
            width: clamp(156px, 24vw, 260px);
            padding: 5px 5px 10px;
            border: 1px solid #afafaf;
          }
          @media (max-width: 767px) {
            width: clamp(156px, 43vw, 260px);
          }
          &:hover {
            border: 1px solid var(--accent);
          }
          .image-holder {
            width: 100%;
            position: relative;
            margin-bottom: 8px;
            img {
              background-size: cover;
              width: 100%;
            }
          }
          .heart {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 36px;
            height: 36px;
            background: url("../images/icon-fav-default.png") no-repeat;
            background-position: center;
            cursor: pointer;
            @media (max-width: 950px) {
              right: 1.5%;
              top: 1%;
              width: 24px;
              height: 24px;
              background-size: cover;
            }
            &:hover {
              background-image: url("../images/icon-fav-alt-hover.png");
            }
          }
          .name {
            margin-bottom: 3px;
            height: clamp(48px, 7.7vw, 60px);
          }
          .price {
            text-align: end;
            margin-bottom: 21px;
            @media (max-width: 950px) {
              text-align: left;
              margin: 0;
            }
          }
          .name p,
          .price p {
            font-size: clamp(17px, 1.9vw, 20px);
            line-height: clamp(120%, 2vw, 150%);
            @media (max-width: 767px) {
              font-size: clamp(14px, 3.4vw, 17px);
              line-height: clamp(120%, 3.6vw, 150%);
            }
          }
          .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            a {
              font-family: "Candara";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              cursor: pointer;
              color: var(--text);
              @media (max-width: 950px) {
                display: none;
              }
              &:hover {
                font-weight: 600;
              }
            }
            .btn-mini {
              @media (max-width: 950px) {
                position: absolute;
                right: 3px;
                bottom: 3px;
                width: clamp(24px, 1.2vw, 30px);
                height: clamp(24px, 1.2vw, 30px);
                border: none;
                padding: 0;
                margin: 0;
                transition: none;
                transform: none;
                background: url("../images/icon-basket-default.png") no-repeat;
                background-size: cover;
              }
              span {
                @media (max-width: 950px) {
                  display: none;
                }
              }
              &::before {
                display: none;
                transition: none;
              }
              &:hover {
                @media (max-width: 950px) {
                  background: url("../images/icon-basket-hover.png") no-repeat;
                  background-size: cover;
                  transition: none;
                  transform: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .button-show-more {
    width: fit-content;
    margin: 0 auto;
  }
}
