.contacts {
  margin: 20px 0 17px;
  .layout {
    width: auto;
    max-width: 1074px;
    .wrapper {
      @include box;
      .image-holder {
        width: 100%;
        img {
          background-size: cover;
        }
      }
      form {
        position: absolute;
        top: 0;
        z-index: 2;
        margin: 109px 0 0 20px;
        padding: 17px 28px 20px 20px;
        background: rgba(75, 96, 73, 0.3);
        backdrop-filter: blur(7.5px);
        .hide {
          display: none;
        }
        .calling {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 3px;
          h2 {
            font-family: "Poiret One";
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 70px;
            color: $creamy;
          }
          h3 {
            font-family: "Poiret One";
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 47px;
            color: #ffffff;
          }
        }
        .working-info {
          position: relative;
          padding-bottom: 9px;
          margin-bottom: 30px;
          &::before {
            position: absolute;
            content: "";
            display: block;
            height: 1px;
            left: 0;
            bottom: 0;
            right: 44px;
            background: $creamy;
          }
          .hours {
            margin-bottom: 30px;
            h2 {
              font-family: "Candara";
              font-style: normal;
              font-weight: 400;
              font-size: 26px;
              line-height: 32px;
              color: $creamy;
              margin-bottom: 5px;
            }
            p {
              font-size: 20px;
              line-height: 24px;
              color: $creamy;
              margin-bottom: 5px;
            }
          }
          .phones {
            margin-bottom: 30px;
            p {
              font-size: 20px;
              line-height: 24px;
              color: $creamy;
              margin-bottom: 11px;
              &:nth-last-of-type() {
                margin-bottom: 0;
              }
            }
          }
        }
        .bottom-group {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          gap: 39px;
          .column {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 5px;
            justify-content: flex-end;
            input {
              padding: 5px 14px 13px;
              font-family: "Candara";
              font-style: normal;
              background: none;
              font-weight: 400;
              font-size: 20px;
              line-height: 150%;
              color: $creamy;
              width: 276px;
              border: 1px solid $creamy;
              &::placeholder {
                font-family: "Candara";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                color: #b2b2b2;
              }
            }
            button {
              transition-property: all;
              border: 1px $accent solid;
              transition: border-color 0.15s 0.1s linear, transform 0.2s ease-in;
              &::before {
                border-color: $creamy;
                transition-property: all;
                transition-delay: 0.2s;
              }
              &:hover {
                border: 1px $creamy solid;
                &::before {
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
