.full-info {
  margin-bottom: 36px;
  .header {
    display: flex;
    gap: 85px;
    margin: 0 1px;
    h4 {
      @media (max-width: 1140px) {
        font-size: clamp(20px, 2.3vw, 26px);
        margin-bottom: 8px;
      }
      @media (max-width: 767px) {
        font-size: clamp(18px, 3.3vw, 22px);
        margin: 0;
      }
      &:hover {
        border-bottom: 1px solid var(--text);
      }
    }
    .on {
      border-bottom: 1px solid var(--text);
      cursor: not-allowed;
    }
    .off {
      cursor: pointer;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .inactive {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }
  article {
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
    p {
      @media (max-width: 1140px) {
        font-size: clamp(15px, 2vw, 20px);
      }
      @media (max-width: 767px) {
        font-size: clamp(14px, 2.9vw, 18px);
      }
    }
  }
  .reviews {
    margin: 47px 1px 0;
    @media (max-width: 767px) {
      margin: 0;
    }
    .button-write-review {
      margin-bottom: 44px;
      @media (max-width: 767px) {
        display: none;
      }
    }
    .content {
      margin-bottom: 41px;
      .review {
        display: flex;
        min-height: 73px;
        border-bottom: 1px solid var(--text);
        margin-bottom: 8px;
        position: relative;
        @media (max-width: 767px) {
          flex-direction: column;
          padding-bottom: 14px;
          margin: 0;
        }
        .author {
          width: 145px;
          min-width: 145px;
          @media (max-width: 767px) {
            margin-bottom: 5px;
          }
          h4 {
            @media (max-width: 1140px) {
              font-size: clamp(20px, 2.3vw, 26px);
              margin-bottom: 3px;
            }
            @media (max-width: 767px) {
              font-size: clamp(18px, 3.3vw, 22px);
              margin: 0;
            }
          }
          p {
            @media (max-width: 1140px) {
              font-size: clamp(20px, 2.3vw, 26px);
              margin-bottom: 3px;
            }
            @media (max-width: 767px) {
              font-size: clamp(18px, 3.3vw, 22px);
              margin: 0;
            }
          }
        }
        .rating {
          align-self: center;
          margin-right: 26px;
          @media (max-width: 767px) {
            position: absolute;
            left: 150px;
            top: 8px;
          }
          .star {
            cursor: auto;
            &.unrated:hover {
              background-image: url("../images/icon-star-no-rating.png");
            }
          }
        }
        .text {
          min-width: 450px;
          width: 450px;
          @media (max-width: 767px) {
            width: 100%;
            min-width: unset;
          }
          p {
            @media (max-width: 1140px) {
              font-size: clamp(15px, 2vw, 20px);
            }
            @media (max-width: 767px) {
              font-size: clamp(14px, 2.9vw, 18px);
            }
          }
        }
      }
    }
    .button-show-more {
      width: fit-content;
      margin: 0 auto;
      .btn-arrow-bottom {
        @media (max-width: 1140px) {
          margin-bottom: 21px;
        }
        &::before {
          @media (max-width: 1140px) {
            display: block;
          }
        }
      }
    }
  }
  article,
  .reviews {
    h4.mobile {
      display: none;
      @media (max-width: 767px) {
        display: inline-block;
        padding: 0 2px;
        font-size: clamp(18px, 3.3vw, 22px);
        margin: 0 0 30px 0;
        border-bottom: 1px solid var(--text);
      }
    }
  }
}
