.more-products {
  margin-bottom: 141px;
  @media (max-width: 1279px) {
    margin-bottom: 55px;
  }
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 57px;
    @media (max-width: 950px) {
      padding-top: 5.6vw;
      gap: 5px 16px;
    }
  }
  .item {
    position: relative;
    width: 260px;
    width: clamp(156px, 23vw, 260px);
    border: solid 1px #fff;
    @media (max-width: 950px) {
      width: clamp(168px, 21vw, 218px);
      padding: 5px 5px 10px;
      border: 1px solid #afafaf;
    }
    @media (max-width: 767px) {
      width: clamp(156px, 43vw, 260px);
    }
    &:hover {
      border-color: var(--accent);
      cursor: pointer;
    }
    .image-holder {
      width: 100%;
      padding: 13px 13px 7px 13px;
      img {
        background-size: cover;
      }
    }
    p {
      margin: 0 13px;
      font-size: clamp(16px, 1.7vw, 20px);
      line-height: clamp(120%, 1.8vw, 150%);
      @media (max-width: 950px) {
        margin: 0;
      }
      @media (max-width: 767px) {
        font-size: clamp(14px, 3.4vw, 17px);
        line-height: clamp(120%, 3.6vw, 150%);
      }
      &.name {
        margin-right: 24px;
        height: 60px;
        @media (max-width: 950px) {
          margin: 0;
        }
      }
    }
    .row {
      display: flex;
      justify-content: space-between;
      .price {
        order: 2;
      }
      .btn-mini {
        visibility: hidden;
        order: 1;
        @media (max-width: 950px) {
          visibility: visible;
          order: 3;
          width: clamp(24px, 1.2vw, 30px);
          height: clamp(24px, 1.2vw, 30px);
          border: none;
          padding: 0;
          margin: 0;
          transition: none;
          transform: none;
          background: url("../images/icon-basket-default.png") no-repeat;
          background-size: cover;
        }
        span {
          @media (max-width: 950px) {
            display: none;
          }
        }
        &::before {
          display: none;
          transition: none;
        }
        &:hover {
          cursor: pointer;
          @media (max-width: 950px) {
            background: url("../images/icon-basket-hover.png") no-repeat;
            background-size: cover;
            transition: none;
            transform: none;
          }
        }
      }
    }
    h3 {
      display: block;
      position: absolute;
      top: -20%;
      left: 0;
      right: -800px;
      @media (max-width: 1279px) {
        font-size: clamp(18px, 3.4vw, 40px);
      }
      @media (max-width: 767px) {
        top: -15%;
      }
    }
  }
}
