/* catalogue component */
.catalogue {
  margin-bottom: 85px;
  @media (max-width: 1140px) {
    margin-bottom: 55px;
  }
  .sorting {
    margin: 64px 0 23px;
    @media (max-width: 1140px) {
      margin: 12px 0;
    }
    .wrapper {
      margin-left: 234px;
      @media (max-width: 1140px) {
        margin: 0;
      }
      p {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-right: 14px;
        font-size: clamp(17px, 1.9vw, 20px);
        line-height: 120%;
        @media (max-width: 767px) {
          font-size: clamp(14px, 3.4vw, 17px);
        }
        &:hover {
          color: $accent;
        }
        &::after {
          display: block;
          content: '';
          position: absolute;
          background: $text;
          height: 1px;
          left: 0;
          bottom: 3px;
          right: 14px;
        }
        &::before {
          display: block;
          content: '';
          position: absolute;
          right: 0;
          top: 25%;
          bottom: 0;
          width: 13px;
          background: url('../../assets/images/icon-expand-more.png') no-repeat center;
          background-size: contain;
          @media (max-width: 767px) {
            top: 20%;
          }
        }
        &:hover:before {
          transform: translate(0, 3px);
        }
        &:first-of-type {
          display: none;
          @media (max-width: 1140px) {
            display: inline-block;
            margin-right: 39px;
          }
        }
      }
    }
  }
}
