.slider {
  margin-bottom: 100px;
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
  .slide {
    position: relative;
    margin-bottom: 55px;
    @media (max-width: 767px) {
      margin-bottom: 38px;
    }
    img.mobile {
      display: none;
      @media (max-width: 360px) {
        display: block;
        width: 360px;
        margin: 0 auto;
      }
    }
    img.desktop {
      @media (max-width: 360px) {
        display: none;
      }
    }
    article {
      position: absolute;
      top: 7.4%;
      right: 50%;
      margin-right: 6.3%;
      @media (max-width: 767px) {
        top: 6px;
        right: 0;
        margin-right: 0;
        left: 16px;
      }
      h2 {
        margin-bottom: 2.8vw;
        float: right;
        font-size: 3.2vw;
        line-height: 110%;
        @media (max-width: 767px) {
          margin-bottom: 33px;
          font-weight: 400;
          font-size: 5vw;
          line-height: 100%;
          float: none;
        }
      }
      h4 {
        width: 22.5vw;
        font-weight: 200;
        font-size: 2.1vw;
        line-height: 100%;
        float: right;
        @media (max-width: 767px) {
          max-width: 42.1%;
          font-size: 3.9vw;
          line-height: 150%;
          width: unset;
          float: none;
        }
      }
    }
    .slider-controls {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      bottom: 1.5%;
      width: 100%;
      @media (max-width: 767px) {
        gap: 15px;
        bottom: 2.2%;
      }
      .radio {
        width: 20px;
        height: 20px;
        background: url(../../assets/images/icon-radio-unchecked.png);
        cursor: pointer;
        @media (max-width: 767px) {
          width: 10px;
          height: 10px;
          background-size: cover;
        }
        &.active {
          background: url(../../assets/images/icon-radio-checked.png);
          @media (max-width: 767px) {
            width: 10px;
            height: 10px;
            background-size: cover;
          }
        }
        &:hover {
          transform: translate(0, -2px);
        }
      }
    }
  }
  .button-catalogue {
    display: flex;
    justify-content: center;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
